################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/2kr/2kr
/2kr/.vs/2kr
/2kr/x64/Debug
/2kr/2kr.sln
/1kr/1kr
/1kr
